*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(243, 246, 255);
}

#header {
  height: 48px;
  background: rgb(243, 246, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: rgb(2, 39, 118);
  text-transform: uppercase;
}

.container {
  width: 100%;
  height: 100vh;
  background: rgb(243, 246, 255);
  display: grid;
  place-items: center;
}

.card {
  width: 300px;
  height: 400px;
  background: rgb(250, 252, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  position: relative;
}

.card-header {
  width: 100%;
  height: 50px;
  background: rgb(2, 39, 118);
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(243, 246, 255);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin-top: -20px;
  padding: 0 20px;
}

.card-body {
  width: 100%;
  height: 100%;
  background: rgb(243, 246, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.input-container {
  width: 100%;
  height: 50px;
  background: rgb(243, 246, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.input-container input {
  width: 100%;
  height: 100%;
  background: rgb(243, 246, 255);
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  color: rgb(2, 39, 118);
  padding: 0 20px;
  border-bottom: 2px solid rgb(2, 39, 118);
  transition: all 0.3s ease;
}

.input-container input::placeholder {
  color: rgb(57, 76, 117);
  font-size: 16px;
  font-weight: 400;
}

.clear-btn {
  width: 100%;
  height: 50px;
  background: rgb(243, 246, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.todo-container {
  width: 100%;
  background: rgb(243, 246, 255);
  height: 300px;
}

.todo-list {
  width: 100%;
  height: 100%;
  background: rgb(243, 246, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.todo {
  width: 100%;
  height: 50px;
  background: rgb(243, 246, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 10px 0;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.todo-text {
  width: 100%;
  height: 100%;
  background: rgb(243, 246, 255);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(2, 39, 118);
  font-size: 16px;
  font-weight: 400;
}

.checkbox {
  width: 20px;
  height: 20px;
  background: rgb(243, 246, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(2, 39, 118);
  border-radius: 50%;
  margin-right: 10px;
}

.fa-trash {
  color: red;
  outline: none;
  border: none;
}

.completed > .todo-text {
  text-decoration: line-through;
  color: rgb(57, 76, 117);
}

.error {
  border-bottom: 2px solid red;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.reload {
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}
